---

- name: Detect OS Family
  debug:
    msg: "OS Family is {{ ansible_facts['os_family'] }}"

#################################################
# Debian / Ubuntu
#################################################

- name: Add MongoDB GPG key (Debian/Ubuntu)
  ansible.builtin.apt_key:
    url: "https://pgp.mongodb.com/server-{{ mongodb_version }}.asc"
    state: present
  when: ansible_facts["os_family"] == "Debian"

- name: Add MongoDB repository (Debian/Ubuntu)
  ansible.builtin.apt_repository:
    repo: "deb [ arch=amd64 ] https://repo.mongodb.org/apt/ubuntu {{ ansible_facts['distribution_release'] }}/mongodb-org/{{ mongodb_version }} multiverse"
    state: present
    filename: mongodb-org
  when: ansible_facts["os_family"] == "Debian"

- name: Update apt cache
  ansible.builtin.apt:
    update_cache: yes
  when: ansible_facts["os_family"] == "Debian"

- name: Install MongoDB (Debian/Ubuntu)
  ansible.builtin.apt:
    name: mongodb-org
    state: present
  when: ansible_facts["os_family"] == "Debian"

#################################################
# RedHat / Amazon Linux
#################################################

- name: Add MongoDB repo (RedHat)
  ansible.builtin.yum_repository:
    name: mongodb-org
    description: MongoDB Repository
    baseurl: "https://repo.mongodb.org/yum/redhat/$releasever/mongodb-org/{{ mongodb_version }}/x86_64/"
    gpgcheck: yes
    enabled: yes
    gpgkey: "https://pgp.mongodb.com/server-{{ mongodb_version }}.asc"
  when: ansible_facts["os_family"] == "RedHat"

- name: Install MongoDB (RedHat)
  ansible.builtin.yum:
    name: mongodb-org
    state: present
  when: ansible_facts["os_family"] == "RedHat"

#################################################
# Common Tasks
#################################################

- name: Deploy MongoDB configuration
  ansible.builtin.template:
    src: mongod.conf.j2
    dest: /etc/mongod.conf
    owner: root
    group: root
    mode: '0644'
  notify: restart mongodb

- name: Enable and start MongoDB service
  ansible.builtin.service:
    name: "{{ mongodb_service }}"
    state: started
    enabled: true
