- name: Fetch Bastion IP
  hosts: localhost
  gather_facts: false
  tasks:
    - name: Get bastion instance info
      amazon.aws.ec2_instance_info:
        region: loop: "{{ query('amazon.aws.aws_ec2', 'filters=tag:Name=mongo-instance-* region=ap-south-1') }}"
        filters:
          "tag:Name": mongo-bastion
          instance-state-name: running
      register: bastion_info

    - name: Add MongoDB hosts with bastion SSH jump
      add_host:
        name: "{{ item.private_ip_address }}"
        groups: mongo_hosts
        ansible_user: ubuntu
        ansible_ssh_private_key_file: ~/.ssh/mumbai.pem
        ansible_ssh_common_args: "-o ProxyJump=ubuntu@{{ bastion_info.instances[0].public_ip_address }}"
      loop: "{{ query('aws_ec2', 'filters=tag:Name=mongo-instance-* region=ap-south-1') }}"

- name: Configure MongoDB
  hosts: mongo_hosts
  become: yes
  roles:
    - mongodb_role
